<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 ml-auto mr-auto">
                <div class="card ">
                    <div class="card-header card-header-rose card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">add_box</i>
                        </div>
                        <h4 class="card-title">Add Category</h4>
                    </div>
                    <div class="card-body ">
                        <form role="form" [formGroup]="categoryGroup">
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="ID" formControlName="id">
                            </mat-form-field>
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Name" formControlName="name">
                            </mat-form-field>
                        </form>
                    </div>
                    <div class="card-footer ">
                        <button mat-raised-button type="submit" class="btn btn-fill btn-rose" (click)="sendToServer()">
                            Submit
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
