<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-primary card-header-icon">
            <div class="card-icon">
              <i class="material-icons">assignment</i>
            </div>
            <h4 class="card-title">Content Creators</h4>
          </div>
          <div class="card-body">
            <div class="toolbar">
              <!--        Here you can write extra buttons/actions for the toolbar
                            <a class="btn btn-rose btn-link btn-lg" [routerLink]="['/user/add']">Add User</a> -->
              <button
                mat-raised-button
                type="submit"
                class="btn btn-rose"
                (click)="add()"
              >
                Add Content Creator
              </button>
            </div>
            <div class="material-datatables">
              <table class="table">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th>Content</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let supplier of suppliers">
                    <td>
                      <a href="#">{{
                        supplier.name
                      }}</a>
                    </td>
                    <td>{{ supplier.phone }}</td>
                    <td>{{ supplier.email }}</td>
                    <td></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <!-- end content-->
        </div>
        <!--  end card  -->
      </div>
      <!-- end col-md-12 -->
    </div>
    <!-- end row -->
  </div>
</div>
