<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10">
                <div class="card">
                    <div class="card-header card-header-primary card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">assignment</i>
                        </div>
                        <h4 class="card-title">Item List</h4>
                    </div>
                    <div class="card-body">
                        <div class="toolbar">
                            <!--        Here you can write extra buttons/actions for the toolbar
                            <a class="btn btn-rose btn-link btn-lg" [routerLink]="['/user/add']">Add User</a> -->
                            <button mat-raised-button type="submit" class="btn btn-rose" [routerLink]="['/products/category']">Categories</button>
                            <button mat-raised-button type="submit" class="btn btn-rose" [routerLink]="['/products/add']">Add Item</button>

                        </div>
                        <div class="material-datatables">
                            <div class="row">
                                <label class=" col-form-label">Search</label>
                                <div class="col-sm-4">
                                    <!-- <mat-form-field class="example-full-width">
                                        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium">
                                     </mat-form-field> -->
                                </div>
                            </div>
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Category</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let product of products">
                                    <td>{{product.name}}</td>
                                    <td>{{product.category}}</td>
                                </tr>
                                </tbody>
                            </table>
                            <!--<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>-->
                        </div>
                    </div>
                    <!-- end content-->
                </div>
                <!--  end card  -->
            </div>
            <!-- end col-md-12 -->
        </div>
        <!-- end row -->
    </div>
</div>

